<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=121.199.49.237;Initial Catalog=SoontrueRestaurantOrder_Official;Persist Security Info=False;User ID=sa;Password=QWERasdf123456789;"/>
  </connectionStrings>
  <appSettings>
    <add key="AppKey" value="dingnsfnkdeqzerdk7bq"/>
    <add key="AppSecret" value="JvHp2k-19oiDIqbbHhzgafbmHItG6d1b_g7FGVlDe2Gwb0isJ1ZXU32T6HbEd2ww"/>
    <add key="Office" value="7AA3DFD5-1D1E-E5A0-20CD-56128513DA52"/>
    <add key="DingTalk" value="23530F32-90C4-4E76-ACD8-BB0C8A2F43C2"/>
  </appSettings>
</configuration>